.container {
    background-color: rgba(235, 238, 242,0.5);
    max-width: 80%;
    margin: auto;
    border: 3pc black;
    border-radius: 10px;
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: 'BlinkMacSystemFont', Ubuntu, sans-serif;
    font-weight: bold;
    text-align: center;
    align-content: center;
    height: 100vh; /*to make bg 100 % cover the pg*/
}

h1 {
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-align: center;
}

h2 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bolder;
    width: 250px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#increment-btn {
    background: #8c181c;
}

#save-btn {
    background: #133869;
}
#save-el {
    font-size: 40px;
}
